
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

body{    
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary--white-color);
    color: var(--primary-text-color);
    margin: 0;    
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.section,
.portfolio {
    padding: 60px 0;
}
