

/*.section-advantages{
    padding: 60px 0;
}*/



.list-section {
    display: flex;       
    align-items: flex-start;    
    gap: 30px;  
    @media screen and (max-width: 767px){
        flex-direction: column;
    }
    
    @media screen and (max-width: 1199px){ 
        flex-wrap: wrap;               
        justify-content: center;
}    
    @media screen and (max-width: 1200px){ 
        display: flex;       
       
}    

}


.item-section {   
    &::before{
        display: block;   
        content: "";      
        height: 120px;
        background: #F5F4FA;
        border-radius: 4px;    
        background-repeat: no-repeat;
        background-size: 70px 70px;
        background-position: center;
        margin-bottom: 30px;
    }
     display: block;
    @media screen and (min-width: 768px){
        width: calc((100% - 30px) / 2);
}
    @media screen and (min-width: 1200px){
    width: calc((100% - 90px) / 4);
}    
}





.title-section {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    justify-content: start;                                         
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px){
        text-align:left ;
    }
    
}

.text-section {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;   
    letter-spacing: 0.03em;    
    color: var(--primary-text-color);
}

.icon-antenna::before{
    background-image: url(../images/antenna.svg);
}
.icon-clock::before{
    background-image: url(../images/clock.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram.svg);
}
.icon-astronaut::before{
    background-image: url(../images/astronaut.svg);
}