.social{ 
    @media screen and (max-width: 767px){
        margin-bottom: 60px;
    }     
    @media screen and (min-width: 1200px){
        margin-right: auto;
    }
 }
 
 
 .footer-internet{
     display: blok;
 }
 
 .footer-internet-title{
     display: block;    
     margin-bottom: 20px;    
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.1428;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--primary--white-color);
    
 }
 
 .footer-internet-link{ 
     display: flex;
    
 }
 
  .social-list{ 
     display: flex;
     justify-content: center;
     gap: 10px;
 }
 
  
 .social-item{
     width: 44px;
     height: 44px;
 }
 
  
 .social-link{
     width: 100%;
     height: 100%;
     background-color: rgba(255, 255, 255, 0.1);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color var(--tran);
     &:hover,
     &:focus{
     background-color: var(--accent-color);
 }
 }
 
 
 
 
 .social-link:hover .teams-icon,
 .social-link:focus .teams-icon{
     fill:var(--primary--white-color);
 }
 
 .social-icon{
     fill: var(--primary--white-color);
 }
 .social-icon:hover,
 .social-icon:focus{
     fill:var(--primary--white-color);
 }