.header {    
    align-items: center;
    margin:0 auto;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}



.logo {
    display: block;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
            
}

.header__logo{
    margin-right: 93px;
}


.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav{ 
    display: flex;   

}

.header__container {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

/*.header__nav{
    margin-right: auto;
}*/

.menu{ 
    display: flex;
    align-items: center;    
    gap: 50px;
}
 



.authnav {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 30px;    
    &:hover ,
    &:focus {
    color: var(--accent-color);
}
}

.header__authnav{
    margin-left: auto;
}


.authnav__item{
    display: flex;
    align-items: center;
}


       


.menu__link,
.authnav a,
.footer .authnav__mail,
.footer .authnav__tel {
    text-decoration: none;
}

.menu__link {
    position: relative;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color var(--tran);
    &:hover,
    &:focus,
    &.menu__link-current {
    color: var(--accent-color);    
}
}


.menu__link-current::after{
    content:'';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px; 
    bottom: -1px; 
    left: 0;
    background-color: var(--accent-color);    
    border-radius: 2px;
    transition: background-color var(--tran);    
 }




.authnav__mail { 
    display: flex;
    align-items: center;   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--tran);
    &:hover,
    &:focus{
    color: var(--accent-color);
}    
}


.authnav__icon-mail {
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: currentColor;
}


.authnav__tel {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    transition: color var(--tran);
    &:hover ,
    &:focus {
    color: var(--accent-color);
}
}

.authnav__icon-tel{
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: currentColor;
}


    