.profile {
    padding-top: 0; 
    @media screen and (max-width: 1199px){
        display: none; 
}
    @media screen and (min-width: 1200px){   
        display: flex;
    }
}

.section-profile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);    
    margin-bottom: 50px ;
}

 

.container-profile {
    display: flex;
    align-items: start;
    gap: 30px;
    padding-bottom: 94px;
}


.link-profile {
    display: block;
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.profile-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}
